@{
    ViewData["Title"] = "Covid Information";
}
<header>
    <div class="text-top">
        <h1 class="display-4">Coronavirus (COVID-19)</h1>
        <hr />
    </div>
</header>

<body>
    <hr />
    <div class="text-center">
        <p>The NHS in North East Lincolnshire and Public Health England (PHE) are well prepared for outbreaks of new infectious diseases. The NHS has put in place measures to protect patients, our community and NHS staff while ensuring as many services as possible are available to the public.</p>
        <p>If you have symptoms associated with coronavirus including a new continuous cough and a high temperature, you are advised to stay at home for 7 days.</p>
        <p>Please do not book a GP appointment or attend your GP practice.</p>
        <p>If you live with other people, they should stay at home for at least 14 days, to avoid spreading the infection outside the home. After 14 days, anyone you live with who does not have symptoms can return to their normal routine.</p>
        <p>But, if anyone in your home gets symptoms, they should stay at home for 7 days from the day their symptoms start. Even if it means they're at home for longer than 14 days. The most up-to-date public guidance is always online at NHS.UK.</p>
        <p>If your symptoms are serious, or get worse, NHS 111 has an online coronavirus service that can tell you if you need further medical help and advise you what to do.</p>
        <p>Only call 111 direct if you are advised to do so by the online service or you cannot go online.</p>
        <p>For the latest COVID-19 advice please visit NHS.UK</p>
        <p>Like the common cold, coronavirus infection usually occurs through close contact with a person with novel coronavirus via cough and sneezes or hand contact.</p>
        <p>A person can also catch the virus by touching contaminated surfaces if they do not wash their hands.</p>
        <p>Testing of suspected coronavirus cases is carried out in line with strict guidelines.</p>
        <p>This means that suspected cases are kept in isolation, away from public areas of GP surgeries, pharmacies and hospitals and returned home also in isolation. Any equipment that come into contact with suspected cases are thoroughly cleaned as appropriate. Specific guidance has also been shared with NHS staff to help safeguard them and others. Patients can be reassured that their safety is a top priority, and are encouraged to attend all appointments as usual.</p>
        <p>Everyone is being reminded to follow Public Health England advice to:</p>
        <div class="text-center">

            <ul><li>Always carry tissues with you and use them to catch your cough or sneeze.<li>Then bin the tissue, and wash your hands, or use a sanitiser gel.</li><li>Wash your hands often with soap and water, especially after using public transport. </li><li>Use a sanitiser gel if soap and water are not available.</li><li>Avoid touching your eyes, nose and mouth with unwashed hands.</li><li>Avoid close contact with people who are unwell.</li></ul>
        </div>
          
        <hr />
    </div>
    <div class="text-top">
         <a asp-controller="Home" asp-action="Index">Back to home page...</a>
    </div>
</body>