@{
    ViewData["Title"] = "Home Page";
}
<header>
    <div class="text-top">
        <h1 class="display-4">Coronavirus (COVID-19)</h1>
        </div>
        <hr />
</header>
<body>
    <div class="img">
        <img src="~/img/covidBanner1.png" alt="" />
    </div>
    <div class="text-center">
        <p>
            Click here for important information about the coronavirus (COVID-19)
            <a asp-controller="CovidInfo" asp-action="Index">More information...</a>
        </p>
        <hr />
    </div>
    <p></p>
    <div class="text-top">
        <h1 class="display-4">How to take a COVID-19 self-test swab</h1>
        <hr />
    </div>


    <div class="video">
        <video src="~/video/covidVideo.mp4" controls />
    </div>
    <hr />

    <!-- Blog Section -->
    <section id="blog">
        <!-- headings -->
        <div class=".blog-headings">
            <span>My recent Posts</span>
            <h3>My Blog</h3>
        </div>

        <div class="blog-container">
            <div class="blog-box">
                <div class="blog-img">
                    <img src="~/img/icon.png" alt="Blog" />

                </div>
                <div class=".blog-text">
                    <span>18 July 2021/ Covid</span>
                    <a href="#">What Has Happened With Covid 19?</a>
                    <p>Covid 19 has been ndoqinipnefipwefnweifn</p>
                </div>
            </div>
        </div>

    </section>
</body>