@{
    ViewData["Title"] = "About Us";
}
<div class="text-top">
    <h1 class="display-4">About Us</h1>
    <hr />
</div>

<div class="img">
    <img src="~/img/covidBanner3.png" alt="" />
</div>
<hr />

<div class="text-center">

    <p>
        Welcome to CovidMedicalHelp, the online site dedicated to offering support and guidance for patients during the COVID 19 pandemic.
    </p>

    <p>CovidMedicalHelp is here to provide patients with an online appointment booking service regarding their COVID 19 symptoms, allowing our doctors to quickly and efficiently offer medical advice. We have a range of highly trained and experienced staff who are battling the front line of the COVID 19 pandemic every day and are here you advise you with the best possible guidance.</p>

    <p>The environment today puts a strong emphasis on using alternative ways to seek help regarding the COVID virus. CovidMedicalHelp offers an online solution to attend an appointment and speak to a doctor online.  Furthermore, offering a safe way to maintain social distancing and keep patients safe. Studies have proven that combining appointment-based systems and online assistance has been more effective at reducing the spread of COVID 19.</p>

</div>
<hr />

<div class="text-top">
    <h1 class="display-4">Find the Right Doctor or Facility When You Need It</h1>
    <hr />
</div>

<div class="img">
    <img src="~/img/doctorBanner.jpg" alt="" />
</div>
<hr />
<div class="text-center">
    <p>
        View our options below to find a doctor, urgent care center. Unless it’s a true emergency, CovidMedicalHelp always recommends booking an appointment first. Your doctor might see you right away or offer another doctor who can. However, in a complete emergency you can call the hotline: 0170455590 and seek medical advice immediately.
    </p>
</div>
<hr />
<div class="text-top">
    <h1 class="display-4">Our Doctors</h1>
    <hr />
</div>
<div class="text-center">
    <ul><li>Sarah Smith</li><li>Ben Howard</li><li>Laura Oak</li><li>Chris Blunt</li></ul>
</div>
    </div>
<hr />